{% extends "::base.html.twig" %}

{% block body %}
  <h1>Workout creation</h1>

  <form action="{{ path('workout_create') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <div class="actions">
          <button type="submit" class="btn primary">Create</button>
      </div>
  </form>

  <ul class="record_actions">
      <li>
          <a href="{{ path('workout') }}">
              Back to the list
          </a>
      </li>
  </ul>
{% endblock %}